@use "../../../../styles/utilities/variables" as *;
@use "../../../../styles/utilities/mixins" as m;

// tool container
// ===========================
.Tool {
    @include m.gridSpan(auto, 3);
}

// tool thumbnail
// ===========================
.ToolThumbnail {
    margin-top: 1rem;
    background: $color-body;
    padding: 0.5rem;
    border-radius: $border-radius;
}

.ToolThumbnailImg {
    max-width: 100%;
    object-fit: contain;
}