@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/mixins" as m;

// tool selection
// ===========================
.ToolSelection {
    @include m.gridSpan(1, 12);
    background: $color-card-bg;
    padding: 2.25rem;
    padding-bottom: 2.5rem;
    border-radius: $border-radius;
}

// tool list
// ===========================
.ToolList {
    max-width: fit-content;
    height: 15rem;
    @include m.grid(12, false, 1.5rem);
}