@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/mixins" as m;

// tool selection
// ===========================
.ToolSelection {
    @include m.gridSpan(1, 12);
    margin-bottom: 1.5rem;
}

// tool list
// ===========================
.ToolList {
    max-width: fit-content;
    @include m.grid(12, false, 1.5rem);
    align-items: center;
    max-height: 100%;
}