@use "../../../styles/utilities/variables" as *;
@use "../../../styles/utilities/mixins" as m;

// snippet wrapper
// ===========================
.SnippetWrapper {
    @include m.gridSpan(1, 12);
    margin-top: 5rem;
}

// snippet grid
// ===========================
.SnippetGrid {
    width: 100%;
    @include m.grid(12, false, 1rem);
    margin-block: 1rem;
}

// snippet sorting
// ===========================
.SnippetSorting {
    @include m.flex(flex-start, center);
    gap: 0.5rem;
}
