:root {
    --color-card-bg: #f7f8f9;
    --radius-card: 2rem;
    font-family: "Inter", sans-serif;
    overscroll-behavior: none;
}

/* ===========================
    site wrapper
=========================== */
.view-wrapper {
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 5.5rem);
    max-height: calc(100vh - 5.5rem);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 1rem;
    overflow: hidden;
}

/* ===========================
    React Colorful Styling
=========================== */
/* todo: this is a temporary placement of the styling for the snippet color editor */

.snippet-color .react-colorful__saturation {
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border-bottom: none;
}

.snippet-color .react-colorful__saturation-pointer {
    width: 1.5rem;
    height: 1.5rem;
}

.snippet-color .react-colorful__hue {
    order: -1;
    height: 0.75rem;
    border-radius: 1rem;
}

.snippet-color .react-colorful__hue-pointer {
    width: 1.25rem;
    height: 1.25rem;
}
